<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>글 목록보기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        const detail = (boardId) =>{
            console.log(boardId);
            const reqUrl = "/board/"+boardId;
            $.ajax({
                type: 'post',
                url : reqUrl,
                dataType: 'json',
                success: function (result){
                    console.log(result);
                    let output = "";
                    output += "<table>\n" +
                        "    <thead>\n" +
                        "    <tr>\n" +
                        "        <th>번호</th>\n" +
                        "        <th>제목</th>\n" +
                        "        <th>작성자</th>\n" +
                        "        <th>내용</th>\n" +
                        "\n" +
                        "    </tr>\n" +
                        "    </thead>\n" +
                        "\n" +
                        "    <tbody>\n" +
                        "    <tr >\n" +
                        "        <td>"+result.boardId+"</td>\n" +
                        "        <td >"+result.boardTitle+"</td>\n" +
                        "        <td >"+result.boardWriter+"</td>\n" +
                        "        <td >"+result.boardContents+"</td>\n" +
                        "    </tr>\n" +
                        "    </tbody>\n" +
                        "</table>";
                    document.getElementById("boardDetail").innerHTML = output;
                },
                error: function (){
                    alert('fail ajax');
                }

            })
        }

    </script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>조회</th>
        <th>조회(ajax)</th>
        <th>삭제(get)</th>
        <th>삭제(delete)</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.boardId}"></td>
        <td>
            <a th:href="@{|/board/${board.boardId}|}">
                <span  th:text="${board.boardTitle}"></span>
            </a>
        </td>
        <td th:text="${board.boardWriter}">비밀번호</td>
        <td th:text="${board.boardDate}">이름</td>
        <td><button th:onclick="detail([[${board.boardId}]])">조회(ajax)</button></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div id="boardDetail">


</div>
</body>
</html>