<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/board/save" method="post">
        <input type="text" name="boardWriter" id="boardWriter" placeholder="작성자"><br>
        <input type="text" name="boardTitle" id="boardTitle" placeholder="제목"><br>
        <input type="password" name="boardPassword" id="boardPassword" placeholder="비밀번호"><br>
        내용:<textarea name="boardContents" id="boardContents" cols="30" rows="30"></textarea><br>
        <input type="submit" value="작성하기">
    </form>

</body>
</html>